<ul class="list-group">
  <li
    class="list-group-item"
    [ngClass]="{ active: selectedBrandName === 'All' }"
    (click)="selectBrand('All')"
  >
    All
  </li>
  <!-- Built-in Directives -->
  <!--  <li *ngFor="let brand of brands" class="list-group-item">
    {{ brand.name }}
  </li> -->

  <app-spinner-loading
    *ngIf="brandsPaginatedList == undefined; else brandsList"
  ></app-spinner-loading>
  <!-- *ngFor döngüsünde yer alan let brand, sadece etiketin iç kısmında geçerlidir. -->
  <!-- div kullandığımızda mevcut stiller bozulabilir. -->
  <ng-template #brandsList>
    <ng-template ngFor let-brand [ngForOf]="brandsPaginatedList.items">
      <!-- Sanal, html tarafında render'lenmayan, etiket işlevi görür. -->
      <li
        class="list-group-item"
        [ngClass]="{ active: selectedBrandName === brand.name }"
        (click)="selectBrand(brand)"
      >
        <!-- routerLink="/brands/{{ brand.name }}" -->
        {{ brand.name }}
      </li>
    </ng-template>
  </ng-template>
</ul>
