<form [formGroup]="loginForm" (submit)="login()" class="needs-validation">
  <!-- EMAIL -->
  <div class="form-floating mb-3">
    <input
      type="email"
      formControlName="email"
      class="form-control"
      id="emailInput"
      placeholder="name@example.com"
    />
    <label for="emailInput">Email address</label>
    <div *ngIf="isControlInvalid('email')" class="text-danger text-start">
      {{ loginForm.controls["email"].errors | errorMessages }}
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="form-floating mb-3">
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="passwordInput"
      placeholder="Password"
    />
    <label for="passwordInput">Password</label>
    <div *ngIf="isControlInvalid('password')" class="text-danger text-start">
      {{ loginForm.controls["password"].errors | errorMessages }}
    </div>
  </div>

  <!-- PASSWORD COMFIRM -->
  <div class="form-floating mb-3">
    <input
      type="password"
      formControlName="passwordConfirm"
      class="form-control"
      id="passwordConfirmInput"
      placeholder="Password Confirmation"
    />
    <label for="passwordConfirmInput">Password Confirmation</label>
    <div
      *ngIf="isControlInvalid('passwordConfirm')"
      class="text-danger text-start"
    >
      {{ loginForm.controls["passwordConfirm"].errors | errorMessages }}
    </div>
  </div>

  <!--todo: validation error div component  -->
  <div *ngIf="loginForm.invalid" class="text-danger text-start">
    {{ loginForm.errors | errorMessages }}
  </div>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" /> Remember me
    </label>
  </div> -->

  <button type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
</form>
